@import "assets/styles/variables";
@import "assets/styles/mixins";
@import "assets/styles/components/Header";

.app {
  background: $background;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  color: $color-white;
}

a {
  text-decoration: none;
  color: $border-opacity-white;
}
